<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include page head -->
    <%- include("../partials/head"); %>

    <title>Connect4 - Home</title>
  </head>
  <header>
    <!-- Include page header -->
    <%- include("../partials/header"); %>
  </header>
  <body></body>
</html>
