<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include page head -->
    <%- include("../partials/head"); %>

    <!-- Account CSS -->
    <link href="account.css" rel="stylesheet" />

    <title>Connect Four - Login</title>
  </head>

  <body id="content">
    <main class="form-signin text-center">
      <form>
        <h1>Sign into Connect4</h1>

        <label for="username" class="visually-hidden">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Username"
          required
          autofocus
        />

        <label for="inputPassword" class="visually-hidden">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />

        <div>
          <button class="w-100 btn btn-lg btn-primary login-btn" type="submit">
            Sign in
          </button>
          <a
            href="/register"
            class="w-100 btn btn-lg btn-secondary register-btn"
          >
            Register
          </a>
        </div>
      </form>
    </main>
  </body>
</html>
