/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* #connection-details {
  text-align: center;
} */

/* div#game {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
  height: 600px;
  background: rgb(61, 138, 254);
  border: 1px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
} */

div#grid {
  /* Center grid (without flexbox) */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%); */

  /* Size */
  padding: 1.5rem;
  width: 650px;
  height: 600px;

  /* Color */
  background: #0077ee;

  /* Border */
  border: 1px solid #0044aa;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-spacing: 5px 5px;
}

/* .mytable td {
  width: 90px;
  height: 90px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
} */

#grid td.cell {
  /* Color */
  background-color: #ffffff;

  /* Size */
  width: 90px;
  height: 90px;

  /* Border */
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
