<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- socket.io -->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/client.js"></script>

    <title>Connect Four</title>
  </head>
  <body>
    <h1>Connect Four</h1>

    <div id="connection-details">
      <label>Username:</label>
      <input id="player-name" />
      <button id="connect">Join</button>

      <p id="conn-status">Not connected</p>
      <p id="game-status">No game</p>
    </div>

    <h3 class="player-turn"></h3>

    <div id="game">
      <table>
        <!-- Board rows -->
        <tr>
          <!-- Board columns -->
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
      </table>
    </div>

    <div id="reset">Reset</div>
  </body>
</html>
