<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Connect4</a>
    <button id="logout-btn" class="btn btn-outline-danger" type="button">
      Logout
    </button>
  </div>
</nav>
